
<!-- navbar -->


  

<!-- body -->

<div class="d-flex align-items-start">
	<div class="container  me-5 ms-5 mt-5 mb-5 pe-5 ps-5 pt-5 fw-bold"><h1 class="fw-bold" style="color: #6d1d8e; font-size:
		65px" >Kerala's NO 1 </h1><br><h2  style="color: #6d1d8e; ">Software Training Institute in Kochi(Cochin)</h2><br><br> <h4> Luminar Technolab is a No.1 Software Training Institute in Kochi <br> & Mavoor Road Calicut, offering you Job Oriented courses on <br> Data Science, Data Analytics, Machine Learning, Python, Big <br> Data & Other Certified IT programs</h4>
	  <br>
	  <div class="d-flex align-items-start"><div class="row">
		<div class="col-sm"><img width="90%" src="https://i.ibb.co/BGG9sgn/lum2.png" ></div> &nbsp;&nbsp;&nbsp; 
		<div class="col-sm"><img width="40%" src="https://i.ibb.co/g7TmsS7/lum3.png"></div>
		<div class="col-sm"></div>
	  </div>
	</div>
	<br><br>
	<div class="button1">
	  <button type="button" class="view btn  btn-lg ">View Courses</button>
  </div>
	</div>
	<div class="container">
		<img src="https://i.ibb.co/W024zXR/lum1.png" alt="lum1" border="0">
</div>
</div>



<div class="d-flex align-items-start">
	<div class="container">
  
	</div>
	<div class="container ">
		<img src="https://i.ibb.co/LS6MFwS/lum4.png"  width="700px"  height="49px"  >

  </div>
  
  <div class="container">
	  
  </div>
  </div>



  <div class="container" id="content" style="	padding-bottom: 38px;">
	<div class="row">
		<div class="images col-6">

			<img width="30%" id="img1" class="ms-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXl-lFoB_hpzKm40m3apnvgV90J58fUliNYw&usqp=CAU" alt="">
			<img width="45%" class="" id="img2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRq9KvRzPd6Bb1vgy_BTnq-qRm3_C3e6BHldg&usqp=CAU" alt="">
			<img class="" width="40%"  id="img3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFuOekVBgLtNvUhAazxnp7GYV5t-Y2bsmswA&usqp=CAU" alt="">
			<img width="40%" class="ms-5" id="img4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1ydz6hyfKEmc7yFkGkzSCk6G5El_F0eNyBw&usqp=CAU" alt="">

			
		</div>


		<div class="content col-6" id="content" >
			<p style="font-size: 25px; font-family: 'Kaisei HarunoUmi', serif;">Our mission is to provide</p>
			<h2 id="bio" style="font-family: 'Kaisei HarunoUmi', serif; font-weight: 700;" >100% placements to students</h2><br>
			<div> Our mission is to provide 100% placements to students those </div>
				<div> who enrol for our specialised courses. Our Placement</div>
		<div>assistance starts with Resume preparation, Mock </div> 
			<div> Interviews by real working professionals, Aptitude test training & Interviews.</div> 
				<div> We will provide unlimited placement assistance till</div> 
				<div> the student is placed satisfactorily..</div> <br>
			
		</div>
	</div>
</div>



<div class="body2 d-flex align-items-start mt-5 " style="background-color: #DECCFF; "  >
    
    <div class="container pb-3 " style="
    margin-top: 80px;
    margin-left: 165px;
	padding-left: 70px;
	margin-bottom: 46px;
">
     <h1  style="color: #6d1d8e; font-family: 'Kaisei HarunoUmi', serif; font-size: 45px; font-weight: 600;"> Best Data Science,Big <br> Data Courses</h1>
     <br>
     <h3 style="color: #6d1d8e; font-size: 25px; font-weight: 600;">Luminar Technolab I Kochi,Kerala</h3>
     <br>
     <h5 style="font-size: 15px; font-weight: 600;" class="pb-3">Luminar Technolab, No.1 Software Training Institute offers <br> various Software Courses along with 100% Guaranteed <br> Placement assistance. We provide Big Data Training, Data <br> Science, Python,Mean Stack,Software Testing & many more</h5>
     
     <button type="button" class="btn view   btn-lg ps-4 pe-4" style="font-size: 16px;">Enquire Now</button>
    </div>

    <div class="container  me-5  pt-3 fs-5">
		<img src="https://i.ibb.co/7nnmMWt/l1.png" style="
	
		margin-right: 75px;
		
	

	" >
    </div>
 
  </div>



  
  <div class="d-flex align-items:center " style="padding-top: 70px;" >

  <div class="container">
   <div class="b justify-content-center justify-content-center fs-5 ps-5"><h1 class="text-center " style="color: #6d1d8e;  font-family: 'Kaisei HarunoUmi', serif; font-size: 50px; font-weight: 550;" > Our 100% Job Oriented <br> Training Programs</h1><br>
  <p  style="text-align: center;font-size: 15px;font-weight: 400;margin-left: 299px;margin-right: 298px;">We are focused on providing advanced level software training like Big Data Training, Hadoop Training, Data Science Training, Python Training, Machine Learning Training, Selenium Training in Cochin Kerala.

  </p>
 
  </div>
  </div>

</div>


 <!-- products -->
 
<section class="py-5 " style="margin-left: 130px;">
	<div class="container px-4 px-lg-5 mt-3 ">
		<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
			<div class="col " *ngFor="let product of allProducts" style="margin-bottom: 70px;" >
				<div class="card h-100 card2" id="coursecard"  >
					<div><a  (click)="addToWishlist()" ><i class="heart fa-solid fa-heart text-danger pt-2 pe-3 fa-2xl" ></i></a></div>
					<!-- Product image-->
					<img class="card-img-top " width="50px" height="200px" style="padding: 30px;"  [src]="product.image"  alt="..." />
					<!-- Product details-->
					<div class="card-body ">
						<div class="text-center" style="height: 120px;">
							<!-- Product name-->
							<h5 class="fw-bolder" style=" color: #6d1d8e; text-align: center;">{{product.title}}</h5>
							<p class="card-text"><br><p  style="text-align: center;"></p> </p>
							<!-- Product price-->
					
						</div>
							 <h4 class="fw-bolder text-center" >Rs.34000</h4>
					</div>
					<!-- Product actions-->
					<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
						<div class="text-center">
							<a routerLink="viewproducts/{{product.id}}" class="btn view  ps-4 pe-4  text-light " href="#"><i class="fa-solid fa-eye me-1" ></i> View More</a>
							<a  (click)="addToCart(product)"  class="btn  " id="addbutton" ><i   class="fa-solid fa-cart-plus me-2 ms-1" ></i> </a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>



	

<div class=" d-flex align-items-start" style="margin-top: 40px;">
	<div class="flex"></div>
	<div class="container" style="align-items: Left;padding-left: 0px;">
	<img width="700px" height="900px" src="https://i.ibb.co/qRTTP7d/Mask-Group4-2ce48556.pnghttps://www.luminartechnolab.com/static/media/MaskGroup4.2ce48556.png" >
  </div>



  <div class="container last">
		
		  <div class="" style="color: #6d1d8e;"><h1 class="fw-bold" style="font-size: 55px;font-weight: 700;margin-top: 93px; padding-bottom: 30px;"   >Why Luminar Technolab</h1>
			<br>
		  </div>
		  <div class=""><p style="font-size: 15px; line-height: 30px; font-weight: 400; padding-right: 50px;">At Luminar Technolab we offer a comprehensive course that covers the whole aspects of the Data Science Ecosystem including Big Data Engineering, Data Science, Data Analytics, Data Visualization - Tableau, data processing, Data Munging, Machine Learning, Deep Learning & Artificial Intelligence. </p>
  
  <br><br>
  
			<UL>
			  <h5>
	<li id="bi">ISO 9001:2015 Certified Institution</li><br>
	<li id="bi">Affiliated to NACTET (http://www.nactetindia.org/affiliation.php)</li><br>
	<li id="bi">Training by highly experienced and certified professionals</li><br>
	<li id="bi">No slideshow (PPT) training, fully Hands-on training</li><br>
	<li id="bi">Interactive session with interview QAs</li><br>
	<li id="bi">Real-time projects scenarios & Certification Help</li><br>
	<li id="bi">Most competitive & affordable course fees</li><br>
	<li id="bi">Placement support for all courses</li><br>
	<li id="bi">List of established & satisfied clients & students</li><br>
	<li id="bi">Located Near Infopark Cochin</li><br>
  </h5>
  </UL>
  </div>
  </div>
  
  
  </div>
  
  
 
  
	<div class="pen2 ">
		<p style="text-align: center; font-size: 45px; font-weight: 400; font-family: 'Kaisei HarunoUmi', serif; padding-top: 50px;">So why wait? Start one of our high quality courses <br> from the world's leading experts today!</p>

	
	<p style="text-align: center; color: #BB9867; font-size: 15px;">If You Have Any Questions Call Us / Whatsapp On +91 808 665 1651</p>
	
		<button  class="btn btnlast   btn-lg ps-4 pe-4" style="
		margin-left: 748px;
		margin-top: 32px;
		font-size: 20px;"> JOIN NOW</button>
	
</div>
  

  