
	<nav class="navbar navbar-expand-lg navbar-light bg-light mr-5">
		<div  class="img ml-5 mt-2 ps-5"><a href=""><img width="85%" src="https://i.ibb.co/vsMdBN5/lumlogo2.jpg" ></a></div>
		<!-- Container wrapper -->
		<div class="container-fluid">
		  <!-- Toggle button -->
		  <button
			class="navbar-toggler"
			type="button"
			data-mdb-toggle="collapse"
			data-mdb-target="#navbarRightAlignExample"
			aria-controls="navbarRightAlignExample"
			aria-expanded="false"
			aria-label="Toggle navigation"
		
		  >
			<i class="fas fa-bars"></i>
		  </button>
	  
		  <!-- Collapsible wrapper -->
		  <div class="collapse navbar-collapse" id="navbarRightAlignExample">
			
			<!-- Left links -->
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0 fs-4 pe-5">
			  <li class="nav-item">
				<a class="nav-link active" aria-current="page" href="#" id="navlink" >Home</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="#" id="nav-link" >Courses</a>
			  </li>
		
			<li class="nav-item">
			  <a class="nav-link" href="#" id="nav-link">About us</a>
			</li>
	
		<li class="nav-item">
		  <a class="nav-link" href="#" id="nav-link">Contact</a>
		</li>
		
		<li class="nav-item">
		  <a class="nav-link pl-4" href="products/wishlist" id="nav-link"> Wishlist</a>
		</li>
	
	<li class="nav-item">
	  <a class="nav-link" href="products/cart" id="nav-link"><i class="fa fa-cart-plus"></i> Cart</a>
	</li>  
			</ul>
			<!-- Left links -->
		  </div>
		  <!-- Collapsible wrapper -->
		</div>
	  </nav>
